:root {
    /* Color Variables */
    --solid-red:rgb(177,2,2);
    --transparent-red:rgba(177,2,2,0.92);
    --highlight-red: rgba(180, 2, 2, 0.92);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.upper-body {
    height: 97%;
}

header {
    height: 8%;
    width: 100%;
    background-color: var(--transparent-red);
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 50px;
}

.container{
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    width: 100px;
    color: #eee;
}

.navbar-brand:hover {
    background-color: var(--highlight-red);
    color: #eee;
}

.content {
    height: calc(100% - 50px); /* leave room for the lower body by subtracting the navbar */
    display: flex;
}

/* area on the left side where the map is contained*/
.map-area {
    width: 65%;
    padding: 15px;
    background-color: white;
    border-right: solid 1px rgba(0, 0, 0, 0.038);
}

/* actual map element */
.map {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgba(174, 174, 174, 0.597);
}

/* area on right side where information is */
.garage-area {
    width: 35%;
    background-color: white;
    height: 100%;
    overflow-y: scroll; 
}
/* container for the information bubbles  */
.garage-wrap{
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* information bubbles about each parking garage */
.garage-info {
    padding: 5px;
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid rgba(231, 231, 231, 0.816);
    box-shadow: 1px 1px 1px 2px rgba(240, 240, 240, 0.355);
}

.garage-info:hover {
    background-color: rgba(240, 240, 240, 0.355);
    cursor: pointer;
}

h2 {
    text-align: center;
    margin: 0;
}

hr {
    margin: 5px;
}

.info {
    font-size: 16px;;
    padding: 10px;
    height: 100px;
}

p {
    margin: 0;
}

/* bar on the bottom of the page for credits or resources */
.lower-body {
    height: auto;
    background-color: #484d51;
    color: white;
}

/* Set dimensions for smaller displays <= 960px */
@media (max-width: 960px) {
    html, body {
       overflow: scroll;
    }

    .upper-body {
        height: auto;
    }

    .content {
        flex-direction: column;
        height: auto;
    }
    
    .map-area {
        order: 2; /* Put map below garage info */
        width: auto;
        height: 500px;
        padding: 0;
        overflow: visible;
        margin-bottom: 10px;
    }

    .garage-area {
        order: 1; /* Put the garage info on top of the map */
        width: 100%;
        height: auto;
        overflow-y: visible;
    }

    .garage-info {
        margin-bottom: 10px;
    }
}